<aside class="list-group menu-lateral d-none d-sm-none d-md-block">
    <a href="#" class="list-group-item list-group-item-action active disabled" aria-disabled="true">
        Menu
    </a>
    <a routerLink="/experiencias" class="list-group-item list-group-item-action">Experiências</a>
    <a routerLink="/projetos" class="list-group-item list-group-item-action">Projetos</a>
    <a routerLink="/contatos" class="list-group-item list-group-item-action">Contatos</a>
</aside>


<aside class="d-md-none">
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#menu-mobile"
            aria-expanded="false" aria-controls="menu-mobile">
            Menu
        </button>
    </p>
    <div class="collapse" id="menu-mobile">
        <!-- repetir o menu de cima aqui! -->
        <aside class="list-group w-100 mb-3">
            <a href="#" class="list-group-item list-group-item-action active disabled" aria-disabled="true">
                Menu
            </a>
            <a routerLink="/experiencias" class="list-group-item list-group-item-action">Experiências</a>
            <a routerLink="/projetos" class="list-group-item list-group-item-action">Projetos</a>
            <a routerLink="/contatos" class="list-group-item list-group-item-action">Contatos</a>
        </aside>
    </div>
</aside>