<div class="d-flex projetos">

  <div class="card">
    <div class="card-img-top border-bottom" style="background-image: url('./../../../assets/img/abastece-car.png')"></div>
    <div class="card-body">
      <h5 class="card-title">AbasteceCar</h5>
      <p class="card-text">Calcule o quanto de combustível você precisa colocar para percorrer determinada viagem.</p>
      <a href="https://tdex.github.io/abastececar/" target="_blank" class="btn btn-primary">Acessar</a>
    </div>
  </div>

  <div class="card">
    <div class="card-img-top border-bottom" style="background-image: url('./../../../assets/img/caju.png')"></div>
    <div class="card-body">
      <h5 class="card-title">Caju</h5>
      <p class="card-text">Prova de conceito para home page da agência Caju.</p>
      <a href="https://tdex.github.io/caju/" class="btn btn-primary">Acessar</a>
    </div>
  </div>

  <div class="card">
    <div class="card-img-top border-bottom" style="background-image: url('./../../../assets/img/contract-list.png')"></div>
    <div class="card-body">
      <h5 class="card-title">Lista de Contratos</h5>
      <p class="card-text">Layout de app contruido apenas com o framework do Angular Material.</p>
      <a href="https://tdex.github.io/contracts/" class="btn btn-primary">Acessar</a>
    </div>
  </div>

  <div class="card">
    <div class="card-img-top border-bottom" style="background-image: url('./../../../assets/img/provas.png')"></div>
    <div class="card-body">
      <h5 class="card-title">Provas Nova Roma</h5>
      <p class="card-text">Site para disponibilização de provas da Faculdade Nova Roma.</p>
      <a href="http://tdex.github.io/tarcisiodeschamps.com.br/resources/projetos/provasnr/index.html"
        class="btn btn-primary">Acessar</a>
    </div>
  </div>

</div>