<nav class="navbar navbar-expand-lg navbar-dark text-white p-3">
    <strong>
        <a class="navbar-brand text-white tittle" href="/">Tarcísio Deschamps Silva</a>
    </strong>
    <button class="navbar-toggler no-outline" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Pesquisa" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-success material-icons" type="submit">search</button>
                </div>
            </div>
        </form>
    </div>
</nav>