nav.navbar {
  z-index: 10000;
  padding: 1rem;
  background-color: #262f3d;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

  .tittle{
    font-size: 2rem;
  }

  .navbar-toggler-icon {
    font-size: 1.5em;
  }
}