<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="https://www.linkedin.com/in/tarcisio94/">Linkedin:</a>
    linkedin.com/in/tarcisio94/</li>
  <li class="list-group-item"><a href="https://pt-br.facebook.com/tarcisio.deschamps">Facebook:</a>
    facebook.com/tarcisio.deschamps</li>
  <li class="list-group-item"><a href="https://github.com/tdex/">Github:</a> github.com/tdex</li>
  <li class="list-group-item"><a href="mailto: tardchamps94@gmail.com">E-mail:</a> tardchamps94@gmail.com</li>
  <li class="list-group-item"><a href="tel:+5581997832836">Telefone:</a> (81) 99783-2836</li>
</ul>