<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
      aria-controls="collapse1">
      <p class="mb-0 btn btn-link px-1">
        Programador III - <strong>Nagem</strong> (07/2019 ~ atualmente)
      </p>
    </div>

    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
      <div class="card-body">
        <p>Atualmente estou atuando em projetos com Java (Spring Boot), Node.js e Angular.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
      aria-controls="collapse2">
      <p class="mb-0 btn btn-link px-1">
        Analista Pleno - <strong>Digitalbits</strong> (02/2019 ~ 04/2019)
      </p>
    </div>

    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
      <div class="card-body">
        <p>Desenvolvimento do sistema <a href="https://praxisbpo.com.br">Amigo</a>, uma plataforma de gestão de
          consultórios médicos, onde atuamos com AngularJS, Node.js e PostgreSQL.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
      aria-controls="collapse3">
      <p class="mb-0 btn btn-link px-1">
        Desenvolvedor III - <strong>MV</strong> (08/2018 ~ 01/2019)
      </p>
    </div>

    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
      <div class="card-body">
        <p>Desenvolvedor Full-stack onde trabalho em um projeto de sustentação do software da empresa, atuando com Java,
          PL/SQL e um framework próprio da empresa no front-end chamado
          <a href="http://www.mv.com.br/pt/solucoes/hospitalar">MV Soul</a>.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
      aria-controls="collapse4">
      <p class="mb-0 btn btn-link px-1">
        Analista Junior - <strong>Accenture</strong> (08/2015 ~ 07/2018)
      </p>
    </div>

    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">
        <p>Desenvolvedor Full-stack atuando com AngularJS, Java, PL-SQL, Git e SVN.</p>

        <p>Já tive a oportunidade de trabalhar em diversos projetos de segmentos diferentes, desde telecomunicações,
          seguradoras, previdência social, e grandes bancos. Sendo uma grande oportunidade de aprendizado e teve
          bastante
          importância em minha carreira.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
      aria-controls="collapse5">
      <p class="mb-0 btn btn-link px-1">
        Suporte Técnico - <strong>Kaisen Tecnologia</strong> (09/2014 ~ 02/2015)
      </p>
    </div>

    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body">
        <p>Suporte técnico (help-desk) ao usuário por skype e acesso remoto ao sistema da empresa.</p>
      </div>
    </div>
  </div>
</div>